{block content}
<div class="col-sm-9 col-sm-offset-1">
<h1 n:block="title" class="page-header">Tickets</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Subject</th>
            <th>Text</th>
            <th>Email</th>
            <th>Date</th>
            <th>Solved</th>
        </tr>
    </thead>
    <tbody>
    {foreach $tickets as $ticket}
        <tr>
            <td>{$ticket->id_ticket}</td>
            <td>{$ticket->subject}</td>
            <td>{$ticket->text}</td>
            <td>{$ticket->email}</td>
            <td>{$ticket->date_sent|date:'j. n. Y'}</td>
            <td><a n:href="Ticket:done $ticket->id_ticket">{if $ticket->done == 1}Yes{else}No{/if}</a></td>
        </tr>
    {/foreach}
    </tbody>
</table>
</div>
{/block}