{block content}
<div class="col-sm-9 col-sm-offset-1">
<h1 n:block="title" class="page-header">Category<a href="#" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#createModal">New category</a></h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Number of articles</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      {foreach $categories as $category}
      <tr>
        <td>{$category->id_article_category}</td>
        <td>{$category->name}</td>
        <td>{if isset($count[$category->id_article_category])}{$count[$category->id_article_category]}{else}None{/if}</td>
        <td> <a n:href="Category: id => $category->id_article_category, type => rem"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
      </tr>
      {/foreach}
  </tbody>
</table>
</div>
<div class="modal" id="createModal" tabindex="-1" role="dialog" aria-labelledby="Create Modal">
  <div class="modal-dialog">
    {form categoryForm class => 'form-horizontal'}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">New category</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
                  {label name class => 'col-sm-3 control-label required'}Category name: {/label}
              <div class="col-sm-9">
                  {input name class => 'form-control'}
             </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         {input submit class => 'btn btn-default'}
      </div>
    </div>
    {/form}
  </div>
</div>
{/block}