{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset #title}{include title|striptags} | {/ifset}Administration</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/admin.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
	<script> document.documentElement.className+=' js' </script>

	    <div n:foreach="$flashes as $flash"
             {if $flash->type == 'success'} class="alert alert-dismissable alert-success"
             {else} class="alert alert-dismissable alert-warning"
             {/if}>{$flash->message}
        </div>



<a n:href="Homepage:" class="btn btn-default btn-lg btn-block navbar-fixed-top"><span class="dreamblue">Dreamotivation</span> Administration</a>

<div class="row pad">
  <div class="col-sm-2">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Administraion navigation</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="navbar-text">Signed in as <span class="dreamblue">{$user->getIdentity()->username}</span></li>
          {if $user->getIdentity()->role == admin}
            <li {ifCurrent Category:}class="active"{/ifCurrent}><a n:href="Category:"><span class="glyphicon glyphicon-chevron-right dreamblue" aria-hidden="true"></span> Category</a></li>
            <li {ifCurrent User:}class="active"{/ifCurrent}><a n:href="User:"><span class="glyphicon glyphicon-chevron-right dreamblue" aria-hidden="true"></span> Users</a></li>
          {/if}
            <li {ifCurrent Article:}class="active"{/ifCurrent}{ifCurrent Article:create}class="active"{/ifCurrent}><a href="#Articles"  data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down dreamblue" aria-hidden="true"></span> Articles</a></li>
            <div class="collapse{ifCurrent Article:} in{/ifCurrent}{ifCurrent Article:create} in{/ifCurrent}" id="Articles">
                <ul class="nav navbar-nav">
                    <li {ifCurrent Article:create}class="active"{/ifCurrent}><a n:href="Article:create"><span class="glyphicon glyphicon-minus dreamblue" aria-hidden="true"></span> Create</a></li>
                    <li {ifCurrent Article:}class="active"{/ifCurrent}><a n:href="Article:"><span class="glyphicon glyphicon-minus dreamblue" aria-hidden="true"></span> List</a></li>
                </ul>
            </div>
            <li {ifCurrent Achievement:}class="active"{/ifCurrent}><a n:href="Achievement:"><span class="glyphicon glyphicon-chevron-right dreamblue" aria-hidden="true"></span> Achievements</a></li>
            <li {ifCurrent Quote:}class="active"{/ifCurrent}><a n:href="Quote:"><span class="glyphicon glyphicon-chevron-right dreamblue" aria-hidden="true"></span> Quotes</a></li>
          {if $user->getIdentity()->role == admin}
            <li {ifCurrent Ticket:}class="active"{/ifCurrent}><a n:href="Ticket:"><span class="glyphicon glyphicon-chevron-right dreamblue" aria-hidden="true"></span> Tickets</a></li>
          {/if}
            <li class="navbar-text text-center">2015 © <span class="dreamblue">Dreamotivation</span></li>
            <li class="text-center"><a href="{$baseUrl}">Back to Frontend</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-10">
        {include content}
  </div>
</div>


	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/ckeditor/ckeditor.js"></script>
	{/block}
</body>
</html>
