{block content}
<div class="col-sm-9 col-sm-offset-1">
<h1 n:block="title" class="page-header">Create article</h1>
{form articleForm class => 'form-horizontal'}
      <div class="form-group">
              {label title class => 'col-sm-2 control-label required'}Title: {/label}
          <div class="col-sm-9">
              {input title class => 'form-control'}
         </div>
      </div>
      <div class="form-group">
              {label summary class => 'col-sm-2 control-label required'}Summary: {/label}
          <div class="col-sm-9">
              {input summary class => 'form-control'}
         </div>
      </div>
    {input text}
    <script type="text/javascript">
        CKEDITOR.replace( 'frm-text' );
    </script>
    <br>
      <div class="form-group">
              {label source class => 'col-sm-2 control-label required'}Source: {/label}
          <div class="col-sm-9">
              {input source class => 'form-control'}
         </div>
      </div>
      <div class="form-group">
              {label source_name class => 'col-sm-2 control-label required'}Source name: {/label}
          <div class="col-sm-9">
              {input source_name class => 'form-control'}
         </div>
      </div>
      <div class="form-group">
              {label article_category_id class => 'col-sm-2 control-label required'}Category: {/label}
          <div class="col-sm-9">
              {input article_category_id class => 'form-control'}
         </div>
      </div>
    <div class="form-group">
        <div class="col-sm-offset-5">
            {input submit class=> 'btn btn-default'}
        </div>
    </div>
{/form}
</div>
{/block}