{block content}
<div class="col-sm-9 col-sm-offset-1">
<h1 n:block="title" class="page-header">Articles</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Author</th>
      <th>Created at</th>
      <th>Published</th>
      <th>Rating</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      {foreach $articles as $article}
      <tr>
        <td><a href="{$baseUrl}/Article/detail/{$article->id_article}">{$article->id_article}</td>
        <td><a n:href="Article:preview $article->id_article">{$article->title}</a></td>
        <td>{$article->author}</td>
        <td>{$article->created_at|date:'j. n. Y'}</td>
        <td><a n:href="Article:publish $article->id_article, $article->published">{if $article->published == 0}No{else}Yes{/if}</a></td>
        <td>{$article->rating}</td>
        <td><a n:href="Article:remove $article->id_article"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
      </tr>
      {/foreach}
  </tbody>
</table>
</div>
{/block}