{block content}
<div class="col-sm-9 col-sm-offset-1">
{foreach $article as $ar}
    <h1 class="page-header">{$ar->title}</h1>
    <small>{$ar->author} | {$ar->created_at|date: 'j. n. Y'} | Rating: {$ar->rating}</small>
    <p>{$ar->content|noescape}</p>
{/foreach}
</div>
{/block}