{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset #title}{include title|striptags} | {/ifset}Nette Sandbox</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/front.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
	<script> document.documentElement.className+=' js' </script>

	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

    <div id="header">
    <div class="container">
    <div class="col-sm-6">
        <img class="logo" src="{$basePath}/images/Logo1.png" alt="Dreamotivation logo">
    </div>
    <div class="col-sm-6">
        <blockquote class="pull-right quote">
          <p>{$quotes->text}</p>
          <small><cite title="Source Title">{$quotes->author}</cite></small>
        </blockquote>
    </div>
    </div>
    </div>

    <nav id="navigation" class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">DM</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li {ifCurrent Homepage:}class="active"{/ifCurrent}><a n:href="Homepage:">Homepage</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {if $user->loggedIn}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{$user->getIdentity()->username} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>{if $user->getIdentity()->role == 'admin'|| $user->getIdentity()->role == 'moderator'}<a href="{$baseUrl}/admin/homepage">Administration</a>{/if}</li>
                    <li><a n:href="Sign:out">Log out</a></li>
                  </ul>
                </li>
            {else}
                <li><a n:href="Register:">Sign up</a></li>
                <li><a n:href="Sign:in">Sign in</a></li>
            {/if}
          </ul>
        </div>
      </div>
    </nav>

    <div id="content">
	    {include content}
    </div>

    <div class="footer">
        <div class="col-sm-2 col-sm-offset-2">
            <h5>Info</h5>
            <p>webpage.com © 2015</p>
            <a href="mailto:phillx.150@gmail.com"><p>Ladislav Tomsa</p></a>
            <a href="http://nette.org"><img src="http://files.nette.org/git/www/nette-powered1.gif" alt="Nette"></a>
        </div>
        <div class="col-sm-2 col-sm-offset-1">
            <h5>Follow us</h5>
            <div class="footer-img">
                <a href="https://twitter.com/Blizqery"><img class="img-responsive" src="{$basePath}/images/twitter.png" alt="Twitter"></a>
            </div>
            <div class="footer-img">
                <a href="https://www.facebook.com/ladislav.tomsa"><img class="img-responsive" src="{$basePath}/images/facebook.png" alt="Facebook"></a>
            </div>
            <div class="footer-img">
                <a href="https://plus.google.com/u/0/111695667149579439136"><img class="img-responsive" src="{$basePath}/images/google.png" alt="Google+"></a>
            </div>
        </div>
        <div class="col-sm-2 col-sm-offset-1">
            <h5>Site map</h5>
            <div class="site-map">
                <a href="{$baseUrl}">Dreamotivation</a>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </div>
        </div>
    </div>


	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/js/front.js"></script>
	{/block}
</body>
</html>
