{block content}

    <h1 n:block="title" class="page-header">{$article->title}</h1>
    <small>{$article->author} | {$article->created_at|date: 'j. n. Y'} | Rating: {$article->rating}</small>
    <p>{$article->content|noescape}</p>

{/block}