{block content}
<div class="col-sm-9 col-sm-offset-1">
<h1 n:block="title" class="page-header">Users</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Role - <span class="green">Active</span> / <span class="red">Inactive</span></th>
            <th>Activated</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    {foreach $users as $user}
        <tr>
            <td>{$user->id_user}</td>
            <td>{$user->username}</td>
            <td>
                {if $user->role == admin}
                    <span class="green">Admin</span> / <a n:if="$user->username!=admin" n:href="User:role $user->id_user, user" class="red">User</a> / <a n:if="$user->username!=admin" n:href="User:role $user->id_user, moderator" class="red">Moderator</a>
                {elseif $user->role == user}
                    <a n:href="User:role $user->id_user, admin" class="red">Admin</a> / <span class="green">User</span> / <a n:if="$user->username!=admin" n:href="User:role $user->id_user, moderator" class="red">Moderator</a>
                {else}
                    <a n:href="User:role $user->id_user, admin" class="red">Admin</a> / <a n:href="User:role $user->id_user, user" class="red">User</a> / <span class="green">Moderator</span>
                {/if}
            </td>
            <td><a n:href="User:activate $user->id_user, $user->activated">{if $user->activated == 1}Yes{else}No{/if}</a></td>
            <td><a n:href="User:delete $user->id_user"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
        </tr>
    {/foreach}
    </tbody>
</table>
</div>