{block content}
{snippet articles}
{foreach $categories as $category}
{var $x = 0}
<div id="category{$category->id_article_category}" class="category">
    <h3 class="page-header">{$category->name}</h3>
    <div class="row">
    {if $category->id_article_category == $id}
        {var $line = $line + 15}
    {else}
        {var $line = 5}
    {/if}
    {foreach $articles as $article}
        {if $x != $line && $category->id_article_category == $article->article_category_id}
            <a n:href="Article:detail $article->id_article" class="col-sm-2 thumbnail article article-img">
                    <img src="{$basePath}/images/holderc.jpg" alt="Holder">
                <h4 class="article-title"><span class="article-title-bg">{$article->title}</span></h4>
            </a>
            {var $x = $x + 1}
        {/if}
    {/foreach}
    </div>
</div>
{if $category->id_article_category == $id}
    <a n:href="show! 0" class="ajax"><div class="col-sm-12"><div class="rolldown"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></div></div></a>
{else}
    <a n:href="show! $category->id_article_category" class="ajax"><div class="col-sm-12"><div class="rolldown"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></div></div></a>
{/if}
{/foreach}
{/snippet}
{/block}


