{block content}
<div class="col-sm-9 col-sm-offset-1">
<h1 n:block="title" class="page-header">Quotes<a href="#" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#createModal">New quote</a></h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Text</th>
      <th>Author</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      {foreach $quotes as $quote}
      <tr>
        <td>{$quote->id_quote}</td>
        <td>{$quote->text}</td>
        <td>{$quote->author}</td>
        <td> <a n:href="Quote:delete $quote->id_quote"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
      </tr>
      {/foreach}
  </tbody>
</table>
</div>
<div class="modal" id="createModal" tabindex="-1" role="dialog" aria-labelledby="Create Modal">
  <div class="modal-dialog">
    {form quoteForm class => 'form-horizontal'}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">New quote</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
                  {label text class => 'col-sm-3 control-label required'}Text: {/label}
              <div class="col-sm-9">
                  {input text class => 'form-control'}
             </div>
          </div>
          <div class="form-group">
                  {label author class => 'col-sm-3 control-label required'}Author: {/label}
              <div class="col-sm-9">
                  {input author class => 'form-control'}
             </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         {input submit class => 'btn btn-default'}
      </div>
    </div>
    {/form}
  </div>
</div>
{/block}