{block content}
<div class="col-sm-9 col-sm-offset-1">
<h1 n:block="title" class="page-header">Achievements<a href="#" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#createModal">New achievement</a></h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Points</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      {foreach $achievements as $achiev}
      <tr>
        <td>{$achiev->id_achievement}</td>
        <td>{$achiev->name}</td>
        <td>{$achiev->describe}</td>
        <td>{$achiev->points}</td>
        <td><a n:href="Achievement:delete $achiev->id_achievement"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
      </tr>
      {/foreach}
  </tbody>
</table>
</div>
<div class="modal" id="createModal" tabindex="-1" role="dialog" aria-labelledby="Create Modal">
  <div class="modal-dialog">
    {form achievementForm class => 'form-horizontal'}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">New achievement</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
                  {label name class => 'col-sm-3 control-label required'}Achievement name: {/label}
              <div class="col-sm-9">
                  {input name class => 'form-control'}
              </div>
          </div>
          <div class="form-group">
                  {label describe class => 'col-sm-3 control-label required'}Describe: {/label}
             <div class="col-sm-9">
                  {input describe class => 'form-control'}
             </div>
          </div>
          <div class="form-group">
                  {label points class => 'col-sm-3 control-label required'}Points: {/label}
             <div class="col-sm-9">
                  {input points class => 'form-control'}
             </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         {input submit class => 'btn btn-default'}
      </div>
    </div>
    {/form}
  </div>
</div>
{/block}