/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding:0 ;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not(.dropdown-menu) {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.pad {
  margin-top: 57px
}

.btn-block {
  background-color: #333;
  color: #FFF;
  border: none;
}

.btn-block:hover {
  background-color: #272727;
  color: #FFF;
}

.alert {
  text-align: center;
  margin-top: 57px;
  margin-bottom: -57px;
}

.red {
  color: red;
}

.green {
  color: #009900;
}

.dreamblue {
  color: #0099ff;
}
