body {
  background-color: #ffffff;
}

#header {
  min-height: 170px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c8d8f7;
}

.logo {
  width: 100%;
}

.quote {
  margin-top: 25px;
  max-width: 500px;
}

blockquote.pull-right {
  border-color: #3273de;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .dropdown-menu > li > a,
.navbar-inverse .dropdown-menu > li > a:focus,
.navbar-inverse .dropdown-menu > li > a:hover {
  background-color: #493de9;
}

.navbar-inverse,
.navbar-inverse .dropdown-menu > li > a,
.navbar-nav > li > .dropdown-menu {
  background-color: #3273de;
}

.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #493de9;
}

#content {
  width: 94%;
  margin-left: 3%;
  margin-bottom: 80px;
}

.rolldown {
  margin-top: -2%;
  text-align: center;
  height: 20px;
  background-color: transparent;
}

.rolldown:hover {
  background-color: #cccccc;
}

.page-header {
  text-align: center;
  border-bottom: 1px solid #3273de;
}

.article {
  background-color: #c8d8f7;
  margin-right: 1.2%;
  margin-left: 2%;
  margin-bottom: 3%;

}

.article-title {
  position: absolute;
  bottom: 20px;
  left: 5px;
  line-height: 2.4;

}

.spacer {
  padding:0 5px;
}

.article-title-bg {
  color: #c8d8f7;
  letter-spacing: 0px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}


.article-img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);

  -webkit-transition: filter 0.5s;
  transition: filter 0.5s;
}

.article-img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}

#footer {
  width: 94%;
  margin-left: 3%;
  color: #3273de;
}

.footer {
  border-top: 1px solid #bbb;
  margin-top: 20px;
  padding-top: 20px;
  height: 100%;
  min-height: 180px;
  background-color: #333;
}


.footer p {
  color: #ddd;
  font-size: 12px;
}

.footer h5 {
  color: #999;
  border-bottom: 1px solid #bbb;
}

.footer-img {
  display: inline-block;
  max-height: 57px;
  width: 31%;
  max-width: 57px;
  opacity: .5;
}

.footer-img:hover {
  opacity: .9;
}

.site-map a {
  text-decoration: none;
  color: #ddd;
  font-size: 12px;
}

.site-map a:hover {
  color: #999;
}

.site-map .glyphicon {
  color: #555;
  font-size: 12px;
}